body{
    background-color: hsl(30, 54%, 90%);
    margin-top: 15vh;
    margin-bottom: 15vh;
}

main{
    width: 40vw;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    left: 27vw;
    padding: 3vw;
    border-radius: 1.5em;
}

.main > img{
    max-width: 100%;
    border-radius: 0.9em;
}

.separation{
    height: 0.01rem;
    background-color: hsl(30, 18%, 87%);
}

h1 {
    font-family: "Young serif";
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    color: hsl(24, 5%, 18%);
    margin-bottom: 0.8rem;
}

h2{
    font-family: "Young serif";
    font-weight: 400;
    font-size: 1.7rem;
    color: hsl(14, 45%, 36%);
}

h4{
    font-family: "Outfit";
    font-weight: 400 bolder;
    font-size: 1.3rem;
    color: hsl(332, 51%, 32%);
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
}

#prep-time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.8rem;
}

p,li{
    font-family: "Outfit";
    font-weight: 400;
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
}

li{
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.8rem;
}

ul,ol{
    padding-left: 1.5rem;
    padding-bottom: 0.7rem;
}

.prep-time li{
    color: hsl(332, 51%, 32%);
}

li > span , li > div{
    color: hsl(30, 10%, 34%);
}

.prep-time > li > div > span , .instructions > ol > li > div > span {
    font-weight: bolder;
}

.ingredients > li > div{
    padding-left: 1.1rem;
}
.prep-time > li > div{
    padding-left: 1.2rem;
}
.instructions > ol > li > div{
    padding-left: 1rem;
}

.prep-time {
    margin-left: 1.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(2n+1){
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:nth-child(2){
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td{
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;  
}

td:nth-child(1){
    position: relative;
    left: 1.8rem;
}

td:nth-of-type(2){
    font-weight: bolder;
    color: hsl(14, 45%, 36%);
}

.attribution{
    position: relative;
    left: -10rem;
    top: 1.5rem;
}


